<div class="section-head">
  <h1>Catalog</h1>
  <span class="meta"><%= pluralize(@products.size, "product") %> &middot; <%= link_to "Brands", brands_path %></span>
</div>

<div class="catalog">
  <%= render @products %>
</div>
